transformers
fasttext
dateutils
cn2an
joblib
cyac
opencc
emoji
hnswlib
fvcore
iopath
omegaconf
jieba_fast
pandas
sklearn
gensim==3.8.1
beautifulsoup4
pypinyin
elasticsearch==7.15.2
pycedar
pycorrector
lmdb-embeddings
pymongo
gunicorn
flask
gevent
lightgbm
neo4j
python-Levenshtein
pytest
pytest-xdist
pytest-timeout
toml
pymc3
# ddparser too slow