transformers
fasttext
dateutils
cn2an
torch
joblib
Cython
opencc
emoji
hnswlib
fvcore
iopath
omegaconf
lac
pandas
sklearn
gensim==3.8.1
cyac
beautifulsoup4
pypinyin
elasticsearch
pycedar
pycorrector
kenlm
lmdb-embeddings
pymongo
gunicorn
flask
gevent
onnx
onnxruntime-gpu
tritonclient[all]
pycuda
nvidia-pyindex
nvidia-tensorrt
onnx_graphsurgeon
polygraphy
triton-model-analyzer
