Cython
transformers
fasttext
dateutils
cn2an
torch
joblib
cyac
opencc
emoji
hnswlib
fvcore
iopath
omegaconf
lac
pandas
sklearn
gensim==3.8.1
beautifulsoup4
pypinyin
elasticsearch
pycedar
pycorrector
kenlm
lmdb-embeddings
pymongo
gunicorn
flask
gevent
paddlepaddle-gpu==2.2.1
# ddparser too slow
lightgbm
neo4j
levenshtein